@font-face {
  font-family: "Angel wish";
  src: url("/fonts/Angel wish.ttf");
}

@font-face {
  font-family: Ruritania;
  src: url("/fonts/Ruritania.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  font-size: 20px;
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 30px;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 200px) {
  html {
    font-size: 5px;
  }
}
